


<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">

    <a class="navbar-brand" href="#">
      <img src="assets/Green.png" class="logo-img" alt="GreenLink Logo">
    </a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">

        
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/front">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/About us">About us</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/research">Research</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/Contact us">Contact us</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown link
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul> 
    </div>
  </div>
</nav>


<div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="text-center">
            <h1>Green Link Login Portal</h1>
            <h5>You can login here!</h5>
          </div>
          <form [formGroup]="loginForm" (ngSubmit)="logIn()"> 
            <div class="mb-3">
              <label class="form-label">Email address</label>
              <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email address">
              <div *ngIf="email?.invalid && email?.touched" class="text-danger">
                <div *ngIf="email?.hasError('required')">Email is required</div>
                <div *ngIf="email?.hasError('email')">Please enter a valid email</div>
              </div>
            </div>
            <div class="mb-3">
              <label class="form-label">Password</label>
              <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
              <div *ngIf="password?.invalid && password?.touched" class="text-danger">
                <div *ngIf="password?.hasError('required')">Password is required</div>
                <div *ngIf="password?.hasError('minlength')">Password must be at least 6 characters</div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
          <a style="color: blue; margin-top: 10px;" routerLink="/gensignup">New User? Click to Sign up</a>
        </div>
      </div>
    </div>
  </div>
  