.logo-img {
    height: 40px;  /* Adjust height as needed */
    width: auto;   /* Maintains aspect ratio */
    max-width: 150px; /* Prevents it from being too large */
    margin-bottom: 10px;
  }

.navbar-brand{
    color:rgb(5, 84, 84);
    font-weight: bolder;
    font-family: 'Lucida Sans';
    font-size: 35px;
  }

  .navbar-nav .nav-link {
    font-size: 18px !important;
}



 

.profile-container {
    position: absolute; 
    top: 50px;
    right: 10px;

    width: 100px;
    height: 100px;
 
  }
  

  .profile-container mat-icon {
    font-size: 20px;  /* Adjust the size as needed */
  }



.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    height: 100vh;
    grid-template-columns: 25% 65%;
   
     margin-left: 100px;
     margin-right: 0px;

   
}

.section {
    padding: 20px;
    color: rgb(239, 233, 233);
} 
.one { background-color: #d4edda;
       margin-left: 20%;
       margin-top: 60px;

       
}
.two { background-color: #cfe2f3;
        margin-right: 20%;
        margin-top: 60px; 
           
}

.profile-icon {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c8c8ce; /* Material Design Purple */
    color: white;
    font-size: 40px;
    border-radius: 8px; /* Slightly rounded corners */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); /* Soft shadow */
}
.profile-icon .material-icons {
    font-size: 60px; /* Bigger inner icon */
}

.profile-content {
    display: flex;
    align-items: center;
    gap: 15px; /* Space between icon and text */
}

.profile-text h2 {
    margin: 0;
    font-size: 20px;
    color:#320b0b
}


.profile-description {
    margin-top: 40px;
    font-size: 14px;
    color: #320b0b; /* Adjust based on background */
}



.btn-container {
    display: flex;
    justify-content: flex-end; /* Pushes buttons to the right */
    gap: 10px; /* Adds space between buttons */
    width: 100%; /* Ensures it takes full width of the <td> */

    background-color: #cfe2f3;
  }
  

  
  button {
    font-weight: bold;
    text-transform: capitalize;
    transition: all 0.3s ease-in-out;
    

  }
  
  button:hover {
    transform: scale(1.05);
  }
  
 
  h3{
       font-size: 50px;
       color:rgb(7, 7, 7)
       
       
  }

  .a{
    text-align: center;
    

  }

  

  .table{
    margin-top: 50px;
  }




  

  