<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">

      <a class="navbar-brand" href="#">
        <img src="assets/Green.png" class="logo-img" alt="GreenLink Logo">
      </a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">

          
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/front">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/about_ua">About us</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/research">Research</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Contact us">Contact us</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown link
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul> 
  
        <!-- Get Started Button (Added Here) -->
        <button class="btn btn-primary ms-auto" routerLink="/genlogin">Logout</button>
      </div>
    </div>
  </nav>
  


  

<div class="profile-container">
  <button mat-icon-button [matMenuTriggerFor]="profileMenu">
    <mat-icon>account_circle</mat-icon>
  </button>
  
  <mat-menu #profileMenu="matMenu">
    <button [routerLink]="'/genprofile'" mat-menu-item>Profile</button>
    <button mat-menu-item>Settings</button>
    <button mat-menu-item>Logout</button>
  </mat-menu>
</div>


<div class="grid-container">
    <!-- Section 1 with Profile Icon and Text -->
    <div class="section one">
        <div class="profile-content">
            <div class="profile-icon">
                <span class="material-icons">person</span>
            </div>
            <div class="profile-text">
                <h2 *ngIf="logged"> {{ logged }}</h2> 
                <h2 *ngIf="eeemail"> {{ eeemail }}</h2>

               

            </div>
        </div>



        <div class="profile-description">
            <h2> contact</h2>
            <h2> mob: {{phoneno}}</h2>
            <h2> Address:</h2>
            <button class="btn btn-primary ms-auto" routerLink="/restaurent"style="background-color: red; border-color: white;">List</button>
        </div>


    </div>

    <!-- Section 2 -->
    <div class="section two">

        <div class="a">
        <h3>Requests Received</h3> 
        </div>


        <table class="table">
            <tr>
              <th>Waste ID</th>
              <th>Recycler Name</th>
              <th>Recycler_info</th>
              <th>Status</th>
            </tr>



          
            <tr *ngFor="let request of requests">
              <td>{{ request.wasteId }}</td>
              <td>{{ request.recyclerName }}</td>


              <td>
                <button 
                  mat-icon-button 
                  [matTooltip]="tooltips[request.wasteId] || 'Loading...'"
                  matTooltipClass="custom-tooltip"
                  matTooltipPosition="right"
                  (mouseenter)="loadTTooltip(request)">
                  <mat-icon>info</mat-icon>
                </button>
              </td>
              



              <td>
                <div class="btn-container">
                  <button mat-button color="primary">
                    <span class="material-icons">check</span> Accept
                  </button>
                  <button mat-button color="warn">
                    <span class="material-icons">close</span> Reject
                  </button>
                </div>
              </td>
              


            </tr>
          </table>
          



    </div>


</div>